*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/dictionaries
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
src/main/java/com/xjhsk/exampad/ui/main/adapter/

.idea/modules/
app/src/main/java/com/xjhsk/exampad/ui/main/adapter/
record/libs/
record/src/androidTest/
record/src/main/res/drawable/
rxfiflibrary2/libs/
rxfiflibrary2/src/main/java/com/weidingqiang/rxfiflibrary2/di/
rxfiflibrary2/src/main/res/drawable/
